@page
@model ConfirmEmailChangeModel
@{
    var Localizer = LocalizerFactory.Create(SharedResource.ResourceType);
    ViewData["Title"] = Localizer["Confirm email change"];
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
