@page
@model ForgotPasswordConfirmation
@{
    var Localizer = LocalizerFactory.Create(SharedResource.ResourceType);
    ViewData["Title"] = Localizer["Forgot password confirmation"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @Localizer["Please check your email to reset your password."]
</p>
